{% extends 'base.html' %}
{% block title %}Appointments List{% endblock %}
{% block extra_head %}
        <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: transparent;
        }
         table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid var(--table-border-color);
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Today's Appointments</h1>
    <h2>{{today}}</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Reason</th>
            <th>Customer</th>
            <th>Pet</th>
            <th>Actions</th>
        </tr>
        {% for appointment in todays_appointments %}
        <tr>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.customer.name }}</td>
            <td>{{ appointment.pet.name }}</td>
            <td>
                <a href="{% url 'appointment_detail' appointment.id %}">View</a>
                <a href="{% url 'edit_appointment' appointment.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>All Appointments</h1>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Reason</th>
            <th>Customer</th>
            <th>Pet</th>
            <th>Actions</th>
        </tr>
        {% for appointment in all_appointments %}
        <tr>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.customer.name }}</td>
            <td>{{ appointment.pet.name }}</td>
            <td>
                <a href="{% url 'appointment_detail' appointment.id %}">View</a>
                <a href="{% url 'edit_appointment' appointment.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}