<!DOCTYPE html>
<html>
<head>
    <title>Appointment Detail</title>
        <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: green;
        }
        
    </style>
</head>
<body>
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
    </div>
    <h1>Appointment Detail</h1>
    <p>Appointment Date: {{ appointment.appointment_date }}</p>
    <p>Reason: {{ appointment.reason }}</p>
    <p>Status: {{ appointment.status }}</p>
    <p>Appointment Type: {{ appointment.appointment_type }}</p>
    <p>Treating Doctor: {{ appointment.treating_doctor }}</p>
    <p>Pet: <a href="{% url 'pet_detail' appointment.pet.id %}">{{ appointment.pet.name }}</a></p>
    <p>Owner: <a href="{% url 'customer_detail' appointment.customer.id %}">{{ appointment.customer.name }}</a></p>
    <p>Diagnosis: {{ appointment.diagnosis }}</p>
    <p>Prescription: {{ appointment.prescription }}</p>
    <p>Additional Notes: {{ appointment.additional_notes }}</p>
    <a href="{% url 'edit_appointment' appointment.id %}">Edit</a>
</body>
</html>