<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.contact_number }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>