<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
     <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: white;
        }
        
    </style>
</head>
<body>
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.contact_number }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>