{% extends 'base.html' %}
{% block title %}Custtomer Details{% endblock %}
{% block extra_head %}
    <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: transparent;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Customer Details</h1>
    <hr>
    <h2>{{ customer.name }}</h2>
    <p>Phone: {{ customer.contact_number }}</p>
    <p>Address: {{ customer.address }}</p>
    <p>Email: {{ customer.email }}</p>
    <a href="{% url 'edit_customer' customer.id %}">Edit Customer</a>
    <p></p>
    <br>
    <hr>
    
    <h2>Pets</h2>
    <ul>
        {% for pet in pets %}
            <li>{{ pet.name }} - {{ pet.species }} - {{ pet.breed }}
                <a href="{% url 'pet_detail' pet.id %}">View</a>
                <a href="{% url 'edit_pet' pet.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <hr>
    <br>
    <h2>Appointments</h2>
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment.appointment_date }} - {{ appointment.reason }}
                <a href="{% url 'appointment_detail' appointment.id %}">View</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_appointment' %}">Create Appointment</a>
    <br>
    <br>
    <h2>Vaccination Records</h2>
    <ul>
        {% for record in vaccination_records %}
            <li>{{ record.vaccination_date }} - {{ record.vaccine_name }}
                <a href="{% url 'vaccination_detail' record.id %}">View</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'record_vaccination' %}">Record Vaccination</a>
    <br>
    <p></p>
    <hr>
{% endblock %}