<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <ul><h3>
        <li><a href="{% url 'register_customer' %}">Register Customer</a></li>
        <br>
        <li><a href="{% url 'register_pet' %}">Register Pet</a></li>
        <br>
        <li><a href="{% url 'customer_list' %}">Customer-List</a></li>
        <br>
        <li><a href="{% url 'create_appointment' %}">Create Appointment</a></li>
        <br>
        <li><a href="{% url 'record_vaccination' %}">Record Vaccination</a></li>
        <br>
        <li><a href="{% url 'customer_search' %}">Customers</a></li>
        <br>
        <li><a href="{% url 'pet_list' %}">Pets</a></li>
        <br>
        <li><a href="{% url 'appointments_list' %}">Appointments</a></li>
        <br>
        <li><a href="{% url 'vaccinations_list' %}">Vaccinations</a></li>
        <br>
        <li><a href="{% url 'finance' %}">Finance</a></li>
    </h3>
    </ul>

</body>
</html>