{% extends 'base.html' %}
{% block title %}Edit Appointment{% endblock %}
{% block extra_head %}
     <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: transparent;
        }
        
    </style>
{% endblock %}
    
{% block content %}
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Edit Appointment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ billing_form.as_p }}
        <button type="submit">Save</button>
        <button type="submit" name="delete">Delete</button>
    </form>
{% endblock %}