{% extends 'base.html' %}
{% block title %}Finance{% endblock %}
{% block extra_head %}
    <style>
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .dashboard-menu button {
            display: inline-block;
            margin-right: 10px;
        }
         table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid var(--table-border-color);
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Finance</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Pet</th>
                <th>Total Amount</th>
                <th>Payment Status</th>
                <th>Payment Date</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for billing in billings %}
            <tr>
                <td>{{ billing.id }}</td>
                <td>{{ billing.customer }}</td>
                <td>{{ billing.pet }}</td>
                <td>{{ billing.total_amount }}</td>
                <td>{{ billing.payment_status }}</td>
                <td>{{ billing.payment_date }}</td>
                <td>
                    {% if billing.content_type.model == 'appointments' %}
                        Appointment
                    {% elif billing.content_type.model == 'vaccinationrecords' %}
                        Vaccination
                    {% endif %}
                </td>
                <td>
                    {% if billing.content_type.model == 'appointments' %}
                        {% if billing.content_object.appointment_date %}
                            {{ billing.content_object.appointment_date }}
                        {% else %}
                            Appointment cancelled
                        {% endif %}
                    {% elif billing.content_type.model == 'vaccinationrecords' %}
                        {% if billing.content_object.vaccination_date %}
                            {{ billing.content_object.vaccination_date }}
                        {% else %}
                            Vaccination cancelled
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}