{% extends 'base.html' %}
{% block title %}Vaccinataion Detail{% endblock %}
{% block extra_head %}
     <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: transparent;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
        <button onclick="document.location='/patients/customers'">Customers</button>
    </div>
    <h1>Vaccination Detail</h1>
    <hr>
    <p><b><i>  Vaccine Name:   </i></b> &nbsp
        {{ vaccination.vaccine_name }}</p>
    <p><b><i>  Treating Doctor:  </i></b> &nbsp
        {{ vaccination.treating_doctor }}</p>
    <p><b><i>  Vaccination Date:  </i></b> &nbsp
        {{ vaccination.vaccination_date }}</p>
    <p><b><i>  Next Due Date:   </i></b>&nbsp
        {{ vaccination.next_due_date }}</p>
    <p><b><i>  Notes:   </i></b>&nbsp
        {{ vaccination.notes }}</p>
    <p><b><i>  Additional Notes:   </i></b>&nbsp
        {{ vaccination.additional_notes }}</p>
    <p><b><i>  Pet:   </i></b>&nbsp
        <a href="{% url 'pet_detail' vaccination.pet.id %}">{{ vaccination.pet.name }}</a></p>
    <p><b><i>  Owner:   </i></b>&nbsp
        <a href="{% url 'customer_detail' vaccination.customer.id %}">{{ vaccination.customer.name }}</a></p>
    <br><hr>
    <p><b><i>  Amount: </i></b>  {{ billing.total_amount }} </p>
    <p><b><i>  Payment status:  </i></b> {{ billing.payment_status }}</p>
    <p><b><i>  Payment date:  </i></b> {{ billing.payment_date }} </p>
    
    <br>
    <hr>
    <a href="{% url 'edit_vaccination' vaccination.id %}">Edit this vaccination</a>
    <p></p>
    <p></p>
    <br>
    <br>
    
    
    <a href="{% url 'vaccinations_list' %}">Back to Vaccinations List</a>
{% endblock %}