<!DOCTYPE html>
<html>
<head>
    <title>Vaccination Detail</title>
     <style>
        .top-right-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons a {
            display: block;
            margin-bottom: 5px;
        }
        .dashboard-menu {
            position: absolute;
            top: 10px;
            right: 283px;
            background-color: green;
        }
        
    </style>
</head>
<body>
    <div class="top-right-buttons">
        <button onclick="document.location='/patients/create_appointment'" class="btn btn-primary">Create Appointment</button>
        <button onclick="document.location='/patients/record_vaccination'" class="btn btn-primary">Record Vaccination</button>
    </div>
    <div class="dashboard-menu">
        <button onclick="document.location='/patients'">Dashboard</button>
    </div>
    <h1>Vaccination Detail</h1>
    <p>Vaccine Name: {{ vaccination.vaccine_name }}</p>
    <p>Treating Doctor: {{ vaccination.treating_doctor }}</p>
    <p>Vaccination Date: {{ vaccination.vaccination_date }}</p>
    <p>Next Due Date: {{ vaccination.next_due_date }}</p>
    <p>Notes: {{ vaccination.notes }}</p>
    <p>Additional Notes: {{ vaccination.additional_notes }}</p>
    <p>Pet: <a href="{% url 'pet_detail' vaccination.pet.id %}">{{ vaccination.pet.name }}</a></p>
    <p>Owner: <a href="{% url 'customer_detail' vaccination.customer.id %}">{{ vaccination.customer.name }}</a></p>
    <a href="{% url 'edit_vaccination' vaccination.id %}">Edit</a>
</body>
</html>